<div>
    <div class="container text-center">
    <h1>CLASSIC INDIA</h1>
    </div>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <h5 style="color:rgb(114, 110, 110);"></h5><i>
                   <h5> India is a land of diversities. Various climatic conditions have made India a diverse country. In all spheres of Indian life diversities are clearly visible. These diversities have made the Indian culture a unique one. Like all other aspects of life, the dance forms of India are also varied and different. There are many types of dance forms in India, from those which are deeply religious in content to those which are performed on small occasions.Dances are a form of coherent expression of human feelings. Like the Indian culture, Indian classical dances are equally diverse in nature. There are numerous classical dance forms in India and innumerable folk dances. Each dance form can be traced to different parts of the country. Each form represents the culture and ethos of a particular region or a group of peoples.</h5></i>
    
            </div>
            <div class="col d-flex justify-content-center">
                <img class="img-fluid" width="420px" height="420px" src="../../../assets/images/gx.png"alt="">
        </div>
    </div>
    </div>
          